[Desktop Entry]
Version=0.0.1-alpha
Name=Space Shooter
Comment=Best Game Ever written in Java.
Exec=java -jar /home/tsteinholz/Development/Java/SpaceShooter-0.0.1-alpha.jar
Icon=/home/tsteinholz/Development/Java/SpaceShooter/etc/favicon-blue.png
Terminal=true
Type=Application
Categories=Game;Application;
