.root {
    -fx-background-color: #232323;
    -fx-background-image: url("dark_stripes.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: repeat;
}

#titleLabel {
    -fx-text-fill: #2d2d2d;
}

#newsBody {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: #2d2d2d;
}

#newsBody .scroll-pane{
    -fx-background-color: rgba(0, 0, 0, 0);
}

#newsBody .scroll-pane .viewport {
    -fx-background-color: rgba(0, 0, 0, 0);
}

#newsBody .scroll-pane .content{
    -fx-background-color: rgba(0, 0, 0, 0);
}